
.myVideo {
    width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  }

.page-header {
    background-color: #C25100;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
    background-color: #000;
    color: #fff;
    opacity: .5;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    
}

h1,
h2,
h3,
h4 {
    font-family: 'Lobster', cursive;
}

.date {
    color: wheat;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
    
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    
    float: right;
    font-size: 26pt;
    margin-right: 20px;
    
}

.post {
    margin-bottom: 70px;

    color: white;
    
    
}

.post h2 a,
.post h2 a:visited {
    color: wheat;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-secondary,
.btn-secondary:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #C25100;
    
}